<div class='profileform'>
<br><br><br>
<p id="notice"><%= notice %></p>
<h1> My Profile </h1>

<br>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @profile.suburb %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @profile.postcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @profile.buyer %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @profile.seller %>
</p>
<br>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Post Ad', new_clothing_path %>
</div>