<p id="notice"><%= notice %></p>

<h1>Clothing</h1>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
  
<% @clothings.each do |clothing| %>
  <div class="row">  
    <% if clothing.image.present? %>
        <%= image_tag clothing.image_url(:medium) %>
        <% end %>
    <br>
    <%= clothing.title %>
    <br>
     <%='Price:'%>
    <%= number_to_currency(clothing.item_price) %>
    <br>
    <%= link_to 'Show', clothing %>
        <% end %>
  </div>

<br>
<%# <td><%= link_to 'Edit', edit_clothing_path(clothing) %>
<%# <td><%= link_to 'Delete', clothing, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'New Clothing', new_clothing_path %>
