<div class='clothingform'>
<br><br><br>

<p id="notice"><%= notice %></p>

<h1>find your new favourite piece</h1>
<br>

<%= form_tag(clothings_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Clothes" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<% if @clothings.blank? %>
  <h4>There are no items containing the term <%= params[:search] %>.</h4>
<% end %>

  <br>
  
<% @clothings.each do |clothing| %>
  <div class="row">  
    <% if clothing.image_data.present? %>
        <%= image_tag clothing.image_url(:medium) %>
        <% end %>
    <br>
    <%= clothing.title %>
    <br>
     <%='Price:'%>
    <%= number_to_currency(clothing.item_price) %>
    <br>
    <%= link_to 'Show', clothing %>
        <% end %>
  </div>

<br>
<%# <td><%= link_to 'Edit', edit_clothing_path(clothing) %>
<%# <td><%= link_to 'Delete', clothing, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
