<div class='clothingform'>
<br><br><br>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @clothing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @clothing.description %>
</p>

<p>
  <strong>Clothing type:</strong>
  <%= @clothing_type.clothing_category %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @gender.gender_style %>
</p>

<p>
  <strong>Clothing size:</strong>
  <%= @clothing_size.size %>
</p>

<p>
  <strong>Item price:</strong>
  <%= number_to_currency(@clothing.item_price)%>
</p>

<p>
  <strong>Postage price:</strong>
  <%= number_to_currency(@clothing.postage_price) %>
</p>

<p>
  <% if @clothing.image_data.present? %>
    <%= image_tag @clothing.image_url(:medium) %>
  <% end %>
</p>

<% if user_signed_in? %>
  <%= render 'charge_form', clothing: @clothing, user: current_user %>
  <% else %>
    <%= link_to new_user_registration_path, class: 'stripe-button-el' do %>
    <span style="display: block; min-height: 30px;">Pay with Card</span>
  <% end %>
<% end %>

<br>

<%= link_to 'Edit', edit_clothing_path %> |
<%= link_to 'Back', clothings_path %> |
<%= link_to 'Delete', @clothing, method: :delete, data: { confirm: 'Are you sure?' }  %>

</div>